:root {
    --black: hsl(0,0%,20%);
    --black-body: hsl(0,0%,20%,0.8);
    --white: hsl(0,100%,100%);
    --white-elevation: hsl(0,100%,100%,0.32);
    --gold: hsl(39,32%,59%);
    --gray: hsl(0,0%,80%);
    --body-text: 1.6rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Barlow', sans-serif; */
}
header {
    width: 100%;
    min-height: 10vh;
    padding: 0 4%;
}
header .header-container {
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
header picture {
    width: auto;
    height: auto;
    grid-column: 1;
}
header .header--btn {
    width: auto;
    height: auto;
    grid-column: 2;
    display: flex;
    justify-content: end;
}
.btn-main {
    width: auto;
    height: auto;
    background-color: var(--gold);
    border: none;
    border-radius: 8px;
    box-shadow: rgba(17, 12, 46, 0.12) 0px 4px 8px 0px;
    font-size: var(--body-text);
    font-weight: 400;
    text-decoration: none;
    color: var(--black);
    padding: 8px 24px;
}
.btn-main:hover {
    cursor: pointer;
    background-color: hsl(39,32%,59%, 0.8);
}
main {
    width: 100%;
    height: auto;
    padding: 0 4%;
}
.about-container {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto;
    gap: 24px;
    align-items: center;
    padding: 40px 0;
    overflow: hidden;
}
.about-info-container {
    width: auto;
    height: auto;
    grid-row: 1;
}
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.8rem;
    color: var(--black);
}
h2 {
    font-family: 'Barlow', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--black);
}
h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: var(--black);
}
.about-info-container p,
.skills-tyes-container p,
.cta-container p {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black-body);
}
.about-info-container p {
    margin: 24px 0;
}
.about-image-container {
    width: auto;
    height: auto;
    grid-row: 2;
}
.about-image-container picture {
    width: auto;
    height: auto;
}
.about-image-container img {
    width: 100%;
    height: auto;
}
.committees-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px 0;
    overflow: hidden;
}
.committees-buttons-container {
    width: 240px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: hsl(0,100%,100%,0.48);
    box-shadow: rgba(17, 12, 46, 0.04) 0px 4px 8px 0px;
    border-radius: 8px;
    margin: 24px 0;
    padding: 8px;
}
.committees-buttons {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--black-body);
}
.committees-buttons:hover {
    cursor: pointer;
    background-color: hsl(0,100%,100%,0.8);
}
.active-btn {
    background-color: var(--gold);
    color: var(--body-text);
}
.committees-info-container {
    width: 100%;
    height: auto;
}
.info-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-cabmun {
    max-width: 420px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.info-cabmun img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.info-cabmun p {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black-body);
    text-align: center;
}
.inactive {
    display: none;
}
.skills-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 40px 0;
}
.skills-tyes-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6;
    gap: 40px;
    padding-top: 40px;
}
.skills-tyes-container figure {
    margin-bottom: 12px;
}
.skills-tyes-container p {
    margin: 8px 0;
}
.skills-tyes-container a,
.info-cabmun a {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-decoration: none;
    color: var(--gold);
}
.skills-tyes-container a:hover,
.info-cabmun a {
    cursor: pointer;
    color: hsl(39,32%,59%, 0.8);
}
.cta-container {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    place-content: center;
    padding: 40px 0;
}
.cta--content,
.committees-general {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-elevation);
    border-radius: 24px;
    border: 2px solid hsl(0,100%,100%,0.12);
    box-shadow: rgba(17, 12, 46, 0.12) 0px 4px 8px 0px;
    padding: 40px;
}
.cta-tittle,
.cmt-tittle {
    text-align: center;
}
.cta-container p {
    margin: 16px 0 24px 0;
    text-align: center;
}
footer {
    width: 100%;
    height: auto;
    padding: 0 4%;
}
footer .footer-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 20px 0;
}
.footer-social-container {
    width: auto;
    height: auto;
    grid-row: 1;
}
.footer-social-container .footer--icons {
    width: auto;
    height: auto;
    display: flex;
    justify-content: first baseline;
    gap: 24px;
}
.footer-social-container a {
    cursor: pointer;
    text-decoration: none;
}
.footer-social-container figure,
.skills-tyes-container figure {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gold);
    border-radius: 50px;
    padding-top: -4px;
}
.footer-social-container figure:hover,
.skills-tyes-container figure:hover {
    cursor: pointer;
    background-color: hsl(39,32%,59%, 0.8);
}
.footer-social-container figure i,
.skills-tyes-container figure i {
    font-size: 3.2rem;
    line-height: 1rem;
    color: var(--gray);
}
.footer-info-container {
    width: auto;
    height: auto;
    grid-row: 2;
}
.footer-info-container p {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black-body);
}
.footer-info-container a {
    text-decoration: none;
    color: var(--gold);
}
.footer-info-container a:hover {
    cursor: pointer;
    color: hsl(39,32%,59%, 0.8);
}